<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>606648636798-vufc4eejei673itqshbu2779atf907of.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.606648636798-vufc4eejei673itqshbu2779atf907of</string>
	<key>API_KEY</key>
	<string>AIzaSyCCk0gHizhJDk8tz1AGCFGg5QFcCqTz7vg</string>
	<key>GCM_SENDER_ID</key>
	<string>606648636798</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.oryo-dev.Todo</string>
	<key>PROJECT_ID</key>
	<string>todo-63113</string>
	<key>STORAGE_BUCKET</key>
	<string>todo-63113.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:606648636798:ios:058f520c2cf42de2814f2f</string>
</dict>
</plist>